<article class="post">
  <div class="cardHeader">
    <h3>{{title}}</h3>
    <div class="meta">
      Posted by {{user.username}} on {{format_date created_at}}
    </div>
  </div>
  <div class="content">
    {{post_url}}
  </div>
</article>