<ol class="post-list">
    <li>
      <a>{{> post-info post}}</a>
    </li>
</ol>

{{> comments post.comments}}

<form class="comment-form">
  <div class="cardHeader-comment"></div>
  
  <div>
    <p>Comment</p>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="addCommentBtn" type="submit">Submit</button>
  </div>
</form>

<script src="/javascript/comment.js"></script>