{{#if posts.length}}
<section>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">{{> post-info post}}</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<div class="newPost">
  <button class="newPostBtn">
    <a href="/dashboard/new-post">+ New Post</a>
  </button>
</div>
