<form class="signup-form">
  <h2>Signup</h2>
  <div class="signup-input">
    <label for="username-signup">Username</label>
    <input type="text" id="username-signup" />
  </div>
  {{!-- <div class="signup-input">
    <label for="email-signup">Email</label>
    <input type="text" id="email-signup" />
  </div> --}}
  <div class="signup-input">
    <label for="password-signup">Password</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="signup-input">
    <button type="submit">Signup!</button>
  </div>
  <div class="toLogin">
    <a href="/login">Login instead</a>
  </div>
</form>

<script src="/javascript/signup.js"></script>