* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: #cae4c9;
}

a, #logout {
  text-decoration: none;
  color: #cae4c9;
  font-weight: bold;
  transition: color .1s;
  font-weight: 300;
}

a:hover, #logout:hover {
  color: #ffffff;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #222222;
}

header nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

h1 {
  margin: 0 0 30px 30px;
}

h1 a{
  border-radius: 10px;
  padding: 3px 15px;
  background-color: #cae4c9;
  color: #222222;
  font-weight:800;
  box-shadow: 5px 5px #8a978a;
}

nav a {
  padding: 20px 30px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

/* Card formattings for forms and comments */

.login-form, .signup-form, .comment-form, .comment {
  border: 2px solid #222222;
}

.login-form h2, .signup-form h2 {
  background-color: #222222;
  padding: 5px 15px;
  margin: 0;
  color: #ffffff;
}

.login-input, .signup-input{
  margin: 0;
  padding: 7.5px 15px;
  color: #222222;
  font-weight: 300;
}

.login-form div input, .signup-form div input, .edit-post-form input {
  width: 100%;
}

.login-form div button, .signup-form div button {
  width: 100%;
  background-color: #636363;
}

.toSignup, .toLogin {
  padding: 7.5px 15px 15px 15px;
  margin: 0;
}

.toSignup a, .toLogin a {
  padding: 5px;
  color: blue;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: 2px solid #222222;
}

.cardHeader h3 {
  font-size: x-large;
  margin: 0;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222222;
  color: #999999;
  padding: 10px 20px;
}

.cardHeader-comment {
  height: 30px;
  background-color: #222222;
}

.content {
  padding: 10px 20px;
  color: #222222;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  margin-bottom: 5%;
}

.comment-text, .comment-meta {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 20px;
  color: #222222;
}

.new-post-form div, .edit-post-form div, .comment-form div {
  padding: 5px 20px;
  margin: 0;
}

.new-post-form div input, .comment-form div textarea {
  width: 100%;
}

.comment-form div p {
  color: #222222;
  margin-bottom: 0;
}

.new-post-form button, .edit-post-form button, .comment-form button {
  width: 100%;
  background-color: #636363;
}

.newPost {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.newPostBtn {
  font-size: x-large;
  background-color: #222222;
}

.newPostBtn a {
  color: white;
}

.new-post-form label, .edit-post-form label {
  color: black;
}

#post-url {
  line-height: 300%;
}
