* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: #cae4c9;
}

a, #logout {
  text-decoration: none;
  color: #cae4c9;
  font-weight: bold;
  transition: color .1s;
  font-weight: 300;
}

a:hover, #logout:hover {
  color: #ffffff;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #222222;
}

header nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

h1 {
  margin: 0 0 30px 30px;
}

h1 a{
  border-radius: 10px;
  padding: 3px 15px;
  background-color: #cae4c9;
  color: #222222;
  font-weight:800;
  box-shadow: 5px 5px #8a978a;
}

nav a {
  padding: 20px 30px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

/* Login and Signup */

.login-form, .signup-form {
  border: 2px solid #222222;
}

.login-form h2, .signup-form h2 {
  background-color: #222222;
  padding: 5px 15px;
  margin: 0;
  color: #ffffff;
}

.login-input, .signup-input{
  margin: 0;
  padding: 7.5px 15px;
  color: #222222;
  font-weight: 300;
}

.login-form div input, .signup-form div input {
  width: 100%;
}

.login-form div button, .signup-form div button {
  width: 100%;
  background-color: #636363;
}

.toSignup, .toLogin {
  padding: 7.5px 15px 15px 15px;
  margin: 0;
}

.toSignup a, .toLogin a {
  padding: 5px;
  color: #ffffff;
  background-color: #636363;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}